<div class="center jumbotron">
  <h1>Rosebud Motels</h1>

  <h2>
    This is the home page for the rosebud motel chain
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>